NODE_ENV=development
PORT=8000

DATABASE=mongodb+srv://USERNAME:<DATABASE_PASSWORD>@cluster.mongodb.net/video-games-api
DATABASE_PASSWORD=your_database_password_here

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=90d